.body {
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(67, 198, 172, 0.6), rgba(248, 255, 174, 0.6)), url(./rsz_2background.png);
    background-size: contain ,30% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* https://bennettfeely.com/clippy/ */
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); */
}
